@model AssignmentFour.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityParticipants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityParticipants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityLengthHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityLengthHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
